fastapi~=0.100.0
pydantic_settings
pydantic[email]
uvicorn==0.23.1
httpx
python-dotenv
pytest
SQLAlchemy==2.0.19
psycopg2
asyncpg
redis
nest-asyncio
alembic
passlib[bcrypt]
python-multipart
pyjwt[crypto]
python-jose[cryptography]
pytest-asyncio