fastapi~=0.100.0
pydantic_settings
pydantic==2.1.1
uvicorn==0.23.1
httpx
python-dotenv
pytest
SQLAlchemy==2.0.19
psycopg2
asyncpg
redis~=4.6.0
nest-asyncio
alembic
passlib[bcrypt]
python-multipart
pyjwt[crypto]
python-jose[cryptography]
pytest-asyncio